/* Здесь будут храниться стили нашего сайта */
body{
	margin: 0;
	font-family: 'Roboto';
	font-size: 18px;
}

img{
	max-width: 100%;
}

header{
	height: 100vh;
	padding-top: 59px;
	padding-bottom: 22px;
/*	background: linear-gradient(-147deg, rgba(103, 0, 31, 0.8), rgba(34, 101, 163, 0.5)), url("../img/shutterstock_349563746.jpg");
	background-size: cover;*/
	color: #fff;
}

path{
	stroke: #fff;
	fill: #fff;
	stroke-dasharray: 2110;
	opacity: 10;
	animation: animate 3s cubic-bezier(0, 0.23, 1, .1);
}

@keyframes animate{
	0%{
		opacity: 0;
		fill: none;
		stroke-dashoffset: 2110;
	}

	30%{
		opacity: 10;
		fill: none;
		stroke-dashoffset: 2110;
	}

	90%{
		fill: rgba(255, 255, 255, 0);
	}

	100%{
		opacity: 10;
		fill: rgba(255, 255, 255, 1);
		stroke-dashoffset: 0;
	}
}

.svgnamePervov{
	width: 400px;
}

.svgnameArtem{
	width: 337px;
	padding-left: 20px;
}

.header-pretitle{
	margin-top: 0;
}


.header-button{
	display: inline-block;
	text-decoration: none;
	box-shadow: 10px 17px 34px 6px rgba(18, 61, 145, 0.83);
	border: none;
	border-radius: 50px;
	background-color: #ffffff;
	font-size: 18px;
	color: #072b6f;
	font-weight: 700;
	padding: 17px 55px;
	margin-top: 33px;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.header-button:hover{
	box-shadow: none;
}

header small{
	font-size: 12px;
	display: block;
	text-align: center;
	margin-top: 9px;
}

.header-button-block{
	max-width: 210px;
}

/*Section portfolio*/

.portfolio{
	position: relative;
	/*background-color: #dddddd;*/
	padding-top: 44px;
	padding-bottom: 71px;
}

.portfolio-block{
	padding-top: 29px;
	padding-bottom: 44px;
	background-color: #fff;
}

.portfolio-title{
	text-transform: uppercase;
	font-size: 18px;
	color: #072b6f;
	margin-bottom: 10px;
}

.portfolio-subtitle{
	color: #7bb9ff;
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 30px;
}

.portfolio-title, .portfolio-subtitle{
	text-align: center;
}

.portfolio-col-1{
	padding-left: 77px;
}

.portfolio-col-2{
	padding-right: 77px;
}

.portfolio-block h3{
	color: #072b6f;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.portfolio-block a{
	color: #072b6f;
	font-size: 14px;
	font-weight: 400;
	text-decoration: underline;
}

.portfolio-text{
	color: #8f8f8f;
	font-size: 14px;
	font-weight: 400;
}

.portfolio-img{
	background-image: linear-gradient(to bottom, rgba(17, 87, 219, 0) 0%, rgba(0, 26, 76, 0.65) 100%);
}

/* footer */

footer{
	/*background: linear-gradient(-147deg, rgba(103, 0, 31, 0.8), rgba(34, 101, 163, 0.5)), url("../img/shutterstock_349563746.jpg");
	background-size: cover;*/
	color: #fff;
	padding-top: 60px;
	padding-bottom: 110px;
}

.footer-author{
	font-size: 24px;
	margin-bottom: 7px;
}

.footer-text{
	margin-top: 0;
}

.footer-about{
	margin-left: 80px;
}

.social-block{
	text-align: center;
}

.social-block a{
	display: inline-block;
	margin-right: 13px;
	margin-left: 13px;
}

.footer-cta{
	margin-bottom: 13px;
}

.footer-button{
	text-decoration: none;
	display: inline-block; 
	border: 1px solid #fff;
	background-color: transparent;
	color: #fff;
	font-size: 18px;
	border-radius: 50px;
	padding: 12px 40px;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.footer-button:hover{
	background-color: #fff;
	color: #3a7dfd;
}

.footer-cta-block{
	text-align: center;
}

.video-container{
	position: fixed;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
}

video{
	min-width: 100%;
	min-height: 100%;
	width: auto; height: auto;
}

@media (max-width: 1200px){
	.header-pretitle {
		margin-top: 60px;
	}
}

@media (max-width: 992px){
	.header-img{
		display: none;
	}
	.header-pretitle {
		margin-top: 10px;
	}
	.footer-author{
		font-size: 18px;
	}
	.footer-text{
		font-size: 14px;
	}
	.social-block a{
		margin-left: 5px;
		margin-right: 5px;
	}
	.social-block img{
		width: 30px;
	}
	.footer-button{
		font-size: 14px;
		padding: 8px 20px;
	}
	.svgnamePervov{
		width: 200px;
	}

	.svgnameArtem{
		width: 177px;
		padding-left: 10px;
	}
}

@media (max-width: 768px){
	.portfolio-col-1{
		padding-left:20px;
		padding-right: 20px;
		margin-bottom: 20px;
	}

	.portfolio-col-2{
		padding-left: 20px;
		padding-right: 20px;
	}

	.footer-about{
		margin: 0px;
		text-align: center;
	}
}

 @supports (object-fit: cover) {
      video {
         top: 0; left: 0;
         width: 100%; height: 100%;
         object-fit: cover;
     }
 }